<!DOCTYPE html>
<html lang="pr-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>Book da Galera | Sobre</title>
    <link rel="icon" type="image/png" href="./img/camera-fotografica.png"/>
</head>

<body>
    <nav class="sub-menu">
        <article>
            <img src="./img/book-logo.gif" class="igm-bookdagalera" alt="Nome da logo">
            <h1>
                <a href="/">Book Da Galera</a>
            </h1>
        </article>
        <form class="form-inline">
            <input class="form-control" type="search" placeholder="Pesquisar">
            <button class="btn" type="submit">Ok</button>
        </form>
        <ul>
            <li>
                <a href="/">Eventos
                    <span class="ico-seta-menu">&nbsp;</span>
                </a>
                        <ul>
                            <li><a href="">Aniversários</a></li>  
                            <li><a href="">Baladas</a></li>
                            <li><a href="">Casamentos</a></li>
                            <li><a href="">Churrascos</a></li>  
                            <li><a href="">Festivais</a></li>
                            <li><a href="">Happy hour</a></li>
                            <li><a href="">Malabares</a></li>
                            <li><a href="">Réveillons</a></li>
                        </ul>
            </li>   
            <li>
                <a href="/sobre">Sobre</a>
            </li>
            <li>
                <a href="/controle">Usuário</a>
            </li>
        </ul>
    </nav>
    <header>
        <h1>O QUE É VISTO É LEMBRADO</h1>
    </header>
    <script src="/js/script.js"></script>
</body>
</html>