<!DOCTYPE html>
<html lang="pr-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>Book da Galera | Membros</title>
    <link rel="icon" type="image/png" href="./img/camera-fotografica.png"/>
</head>

<body>
    <nav>
        <article>
            <img src="./img/book-logo.gif" class="igm-bookdagalera" alt="Nome da logo">
            <h1>
                <a href="/">Book Da Galera</a>
            </h1>
        </article>
        <ul>
            <li>
                <h1>
                    <a>ADMINISTRATIVO</a>
                </h1>
            </li>
        </ul>
        <ul>
            <li>
                <a href="/eventos">Eventos</a>
            </li>   
            <li>
                <a href="/">Home</a>
            </li>
        </ul>
    </nav>

    <section class="container">
        <section id="cadastrar">
                <form action="/uploads" method="POST" enctype="multipart/form-data">
                    <div>
                        <label for="album">Upload imagens: </label>
                        <input type="file" name="file" id="file" placeholder="Digite o nome do álbum" required>
                    </div> 
                    <button class="btnCadastrar" type="submit">Upload</button>
                </form> 
            </section>   
        </section>  

        <a href="#abrirModal">"/img/adicionar.png"</a>

        <div id="abrirModal" class="modal">
            <a href="#fechar" title="Fechar" class="fechar">x</a>
            <section class="container">
                <section id="cadastrar">
                        <form action="/uploads" method="POST" enctype="multipart/form-data">
                            <div>
                                <label for="album">Upload imagens: </label>
                                <input type="file" name="file" id="file" placeholder="Digite o nome do álbum" required>
                            </div> 
                            <button class="btnCadastrar" type="submit">Upload</button>
                        </form> 
                    </section>   
                </section>  
        </div>


        <script src="/js/script.js"></script>
</body>
</html>