* {
  margin: 0;
  padding: 0;
  font-family: Roboto,Arial,sans-serif;
}

html,
  body {
  scroll-behavior: smooth;
  height: 100vh;
  width: 100%;
}

body {
  background: linear-gradient(
  0deg,
  rgb(236, 236, 220) 0%,
  rgb(255, 255, 255) 100%
  );
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  min-height: 100vh;
  width: 100%;
}

.sub-menu ul ul{
  display: none;
  position: absolute;
  list-style: none;
}

.sub-menu ul li:hover > ul {
  display: block;
}

.sub-menu ul ul li a:hover {
  color: rgba(209, 83, 74, 0.658);
}

.form-inline {
  display: flex;
  justify-content: right;
  width: 40%;
  padding: 0.6rem 2rem 0.6rem 2rem;
}

.form-control {
  width: 100%;
  padding: 0.5rem;
  font-size: 0.8rem;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  border-radius: 0.3rem;
  outline: none;
  border: 0.1rem solid #ccc;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-right: none;
}

.btn:hover {
  background-color: rgba(233, 216, 216, 0.301);
}

.btn {
  border: 0.1rem solid #ccc;;
  background-color: #fff;
  color: rgb(104, 94, 91);
  padding: 0.5rem;
  font-size: 0.8rem;
  font-weight: 500;
  border-radius: 0.3rem;
  display: block;
  margin: auto;
  cursor: pointer;
  transition: 0.3s ease-out;
  width: 10%;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  border-left: none;
}

header {
  padding: 3rem;
  color: rgb(48, 49, 49);
}

.titulo img {
  width: 20rem;
  height: 20rem;
  margin-top: -80px;
  margin-bottom: -90px;
}

nav {
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  width: 100%;
  box-shadow: 0 0 1rem #aa161636;
}

nav article {
  display: flex;
  align-items: center;
}
  
nav article img {
  width: 3.5rem;
  padding-right: 1rem;
  padding-left: 1rem;
}

nav article h1 a {
  color: rgb(81, 80, 95);
  text-decoration: none;
  font-size: 1.5rem;
  font-family: 'Knewave', cursive;
}

nav ul {
  list-style: none;
  display: flex;
  
}
  
nav ul li a {
  font-family: 'Knewave', cursive;
  text-decoration: none;
  color: rgb(95, 75, 74);
  font-weight: bold;
  font-size: 1.2rem;
  transition: 0.5s;
  padding: 1rem;
}
  
nav ul li a:hover {
  color: rgb(81, 80, 95);
  color: rgb(202, 171, 68);
}

.ico-seta-menu {
  content: "";
  display: inline-block;
  vertical-align: middle;
  margin-right: 10px;
  width: 0; 
  height: 0; 
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid rgba(95, 75, 74, 0.466);
}
  
section#cadastrar {
  padding: 3rem;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  background-color: #fff;
  margin: 5rem 20rem 0rem 2rem;
  border-radius: 0.2rem;
  width: 30%;
  position: absolute;
  box-shadow: 0 0 1rem #c9717136;
}
  
section#cadastrar form {
  width: 100%;
  padding: 0.1rem 1rem 0.1rem 1rem;
}
  
section#cadastrar form div input {
  width: 100%;
  padding: 0.4rem;
  font-size: 0.8rem;
  margin-top: 0.3rem;
  margin-bottom: 0.3rem;
  outline: none;
  border: 0.1rem solid #ccc;
}
  
section#cadastrar form div label {
  font-size: 0.9rem;
  font-weight: 400;
  color: rgb(12, 4, 4);
}
  
section#cadastrar form button {
  border: 0.1rem solid #ccc;;
  background-color: #fff;
  color: rgb(99, 104, 91);
  padding: 0.5rem;
  font-size: 1rem;
  font-weight: 600;
  border-radius: 0.3rem;
  display: block;
  margin: auto;
  cursor: pointer;
  transition: 0.3s ease-out;
  width: 45%;
  margin-top: 1rem;
}
  
section#cadastrar form button:hover {
  background-color: rgba(223, 231, 104, 0.493);
  color: rgba(41, 35, 4, 0.863);
  transform: scale(1.1);
  border-color: rgb(97, 89, 89);
}

select{
  width: 104%;
  padding: 0.4rem;
  font-size: 0.8rem;
  margin-top: 0.3rem;
  margin-bottom: 0.3rem;
  outline: none;
  border: 0.1rem solid #ccc;
}

.acesso {
  color: rgb(48, 49, 49);
  width: 400px;
  margin: auto;
  padding-top: 40px;
}

.cardAc {
  padding: 3rem;
  background-color: #fff;
  border-radius: 0.2rem;
  box-shadow: 0 0 1rem #c9717136;
}

.card-top {
  text-align: center;
  padding: 1rem;
}

.imgCadeado {
  width: 28%;
}

.card-group > label {
  display: block;
  color: rgb(12, 4, 4);
}

.card-group > input {
  color: rgb(12, 4, 4);
  outline: 0;
  width: 100%;
  padding: 0.4rem;
  font-size: 0.8rem;
  margin-top: 0.3rem;
  margin-bottom: 0.3rem;
  outline: none;
  border: 0.1rem solid #ccc;
  border-radius: 0.2rem;
}

.checkbox {
  color: rgb(12, 4, 4);
  padding: 0.4rem;
  font-size: 0.8rem;
  margin-top: 0.3rem;
  margin-bottom: 0.3rem;
}


.card-top h2 {
  padding: 1rem;
}

.btnAcessar {
  border: 0.1rem solid #ccc;;
  background-image: linear-gradient(to right, rgb(207, 129, 39), rgb(218, 235, 66));
  color: rgb(47, 49, 44);
  padding: 0.5rem;
  font-size: 1rem;
  font-weight: 600;
  border-radius: 0.3rem;
  display: block;
  margin: auto;
  cursor: pointer;
  transition: 0.3s ease-out;
  width: 45%;
  margin-top: 1rem;
}

.btnAcessar:hover {
  background-image: linear-gradient(to right, rgb(218, 235, 66), rgb(207, 129, 39));
}

section#message {
  position: absolute;
  width: 15%;
  text-align: center;
  padding: 0.8rem;
  background-color: rgba(231, 230, 125, 0.664);
  color: #8a1826;
  font-size: 0.8rem;
  font-weight: 450;
  border-radius: 0.3rem;
  margin-left: 42%;
  margin-top: 3.5%;
  box-shadow: 0 0 1rem #c9717136;
}

span#close {
  font-size: 0.8rem;
  cursor: pointer;
  transition: .3s;
}

.sobre {
  color: rgb(48, 49, 49);
  padding: 4rem;
  background-color: #fff;
  border-radius: 0.2rem;
  box-shadow: 0 0 1rem #c9717136;
  line-height: 2;
  width: 500px;
  text-align: justify;
}  

.corpo {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin:auto;
  width: 960px;
}

a.card:hover {
  transform: scale(1.1);
}

a.card img {
  width: 15rem;
  height: 15rem;
}

a.card h3 {
  text-align: left;
  padding: 1rem;
  color: #000;
  font-size: 0.8rem;
}


section#book {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}

section.card{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin-right: 0;
  margin-left: 140px;
}

.titulo {
  margin: auto;
  text-align: center;
}

div.card img:hover {
  transform: scale(1.1);
}

.card a {

 margin: 1rem;
}

.card img {
  width: 15rem;
  height: 15rem;
  border-radius: 3rem;
}

@media (min-width: 461px) and (max-width: 960px) {
  section#cadastrar form button {
  font-size: 2.5vw;
  }
}